<img class = welcome_img src="https://cdn.shopify.com/s/files/1/1102/6652/products/adopt-1597f.gif?v=1504899905" alt="Adopt Dont Shop" width="200" height="800">

<h1> Welcome </h1>
<ul>
  <li><a href ="./shelters">Shelter Index</a></li>
  <li><a href ="./pets">Pet Index</a></li>
</ul>
